<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.zico.wingtwitter" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".WingApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleBar.Main" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.OAuthActivity"
            android:label="@string/signin_twitter"
            android:parentActivityName=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zico.im"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.NetworkStateReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".dao.WingDataProvider"
            android:authorities="im.zico.wing.provider"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <activity
            android:name=".ui.TweetDetailActivity"
            android:label="@string/title_activity_tweet_detail"
            android:theme="@style/AppTheme.NoTitleBar.Detail" >
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:theme="@style/AppTheme.Profile" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="im.zico.wingtwitter.user" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PhotoViewActivity"
            android:theme="@style/PhotoViewTheme" />
        <activity
            android:name=".ui.TweetComposeActivity"
            android:label="@string/title_activity_tweet_compose"
            android:theme="@style/TweetDialog"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service android:name=".service.TweetService" />

        <activity
            android:name=".ui.activity.UserTimelineActivity"
            android:label="@string/title_activity_user_timeline" >
        </activity>
    </application>

</manifest>
