<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.zico.wingtwitter">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".WingApp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleBar">
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/welcome_wing"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.OAuthActivity"
            android:label="@string/signin_twitter"
            android:theme="@style/AppTheme.NoTitleBar"
            android:parentActivityName=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="zico.im"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.NetworkStateReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".dao.WingDataProvider"
            android:authorities="im.zico.wing.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
